main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-section {
  display: flex;
  font-size: 30px;
  gap: 40px;
  justify-content: center;
  margin-bottom: 10px;
}

.calendar-section div {
  text-align: center;
  width: 200px;
}

/* .disabled {
  pointer-events: none;
  opacity: 0.5;
} */
