main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-section {
  display: flex;
  font-size: 30px;
  gap: 40px;
  justify-content: center;
  margin-bottom: 10px;
}

.calendar-section div {
  text-align: center;
  width: 200px;
}

#date-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.day-box {
  width: 200px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px;
}

.selected-date {
  background-color: lightblue;
}
.entry-emoji {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#edit-container {
  display: flex;
  flex-direction: column;
}

#message-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
